/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #c6ebbe;
}

img {
  padding-bottom: 2em;
  box-shadow: 5em;
}

h1 {
  color: #020887;
}

a {
  text-decoration: none;
  color: #95b2b0;
}

h2 {
  color: black;
}

/******************************************
/* LAYOUT
/*******************************************/
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/